# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# === Entornos virtuales ===
.venv/
venv/
ENV/
env/

# === Builds / empaquetado ===
dist/
build/
*.spec

# === Logs / datos locales ===
logs/*.log
*.sqlite3
*.db
*.xlsx

# === IDE/editor ===
.vscode/
.idea/
